/*typography style*/
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color:aliceblue

}

.p1 {
    padding: 15px 20px;
}

.titel {
    padding: 50px 20px;
    margin: 15px;
}

/*background style*/
body {
    background-color: #060F01;
}

.imagelocation1 {
    text-align: center;
}

/*header*/
.header {

    float: right;
    height: 100px;
    padding: 20px 20px;
}

/*navigation style*/
.nav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.nav a {
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

/*Navigation Style*/
.nav a:hover {
    background-color: whitesmoke;
    color: black;
    width: 100px;
    height:100px;
    padding: 15px 20px;
}

/*Impressum*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #333;
    bottom: 0px;
    width: 100%;
}
.footer img{
    margin-top: 25px;
    opacity: 50%;
}
.footer img:hover{
    opacity: 100%;
}

.footer p {
    padding: 15px 30px 15px 15px;
    text-align: right;
    height: fit-content;
}

/*Adapt to size of screen*/
.ImageFlex {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.videoTextFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Layout*/
.titelAndText {
    margin-left: 100px;
    display: flex;
    flex-direction: column;


}
.AboutMeText {
    width: 100px;
}

.Contact-padding{
    padding: 15px 20px;
}

.Project-padding{
    padding: 15px 20px;
   
}
.Project-padding img{
   cursor: pointer;
   width: 400px;
   height: 400px;
}

/*Images scale*/
.Project-padding img:hover{
    position: relative;
width: 500px;
height:500px;
}

/*Image changes opacity*/
#project1:hover + #project2{
    opacity: 50%;
}

css-slides img { 
    opacity:0; 
    animation-name: fade; 
    animation-duration: 9s; 
    animation-iteration-count: infinite; 
    position:absolute; 
    left:0; 
    right:0; 
}